body{
	font-family: 'Cabin', Segoe UI, 'Meera Inimai', Trebuchet MS, Tahoma, sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family:  'Cabin','Capriola', Trebuchet MS, Segoe UI, sans-serif;
	text-shadow: 2px 4px 3px rgba(20,20,20,0.33);
}



text{
	font-family:  'Cabin','Capriola', Trebuchet MS, Segoe UI, sans-serif;
}



